body {
    font-family: 'Open Sans', sans-serif;
}

/* nav related style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

nav>ul {
    display: flex;
    align-items: center;
}

.text {
    color: #181818;
    font-size: 45px;

    font-weight: 800;
    word-wrap: break-word
}

.color {
    color: #FD6E0A;
}

nav>ul>li {
    display: inline;
    padding: auto;
    margin-right: 50px;

}

li a {
    text-decoration: none;
    color: #474747;
}

.button-primary {
    background-color: #FD6E0A;
    color: white;
    /* width: 150px;
   height: 64px;
   top: 50px;
    left: 1220px; */
    border-radius: 5px;
    border: 0;
    font-size: 20px;

    font-weight: 700;
    padding: 15px 35px;


}



/* header related style */
.header {
    background-color: #fbebe0;
    background-image: url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-discription {}

.banner .profile {
    width: 500px;

}

/* .
.banner-load {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
    font-style: normal;
}

.banner-h {
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 5px;

}

.banner-discription {
    color: #757575;
    /* font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 166.667% */
margin-top: 10px;
max-width: 500px;
}

/* Main section Style */
main {
    max-width: 1140px;
    margin: 0 auto;


}

main section {
    margin-top: 130px;
}


/* about section style */
.about {
    border-radius: 10px;
    background: #fbebe0;
    margin: 120px;
    padding: 120px;
}

.about-info-containe {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#what-i-do-discription {
    padding: 30px 150px;
}

.skills-container {
    display: flex;
    /* justify-content: space-between; */
    /* width: 300px;
    height: 350px; */
    gap: 24px;

}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(141, 8, 8, 0.06);


}

.skill-discription {
    /* padding: 30px; */
    color: #757575;
}






.section-title {
    color: #181818;
    text-align: center;
    /* font-family: Open Sans; */
    font-size: 35px;
    /* font-style: normal; */
    font-weight: 700;
    /* line-height: normal; */

}

.section-discription {
    color: #757575;
    text-align: center;

    font-size: 18px;

    font-weight: 400;

}


/* Resume Section Style  */
.resume-column-title {
    color: #474747;

    font-size: 30px;

    font-weight: 700;

}

.resume-container {
    display: flex;
    gap: 50px;
    
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;

}
.resume-item-contemt{
    margin-bottom: 20px;
    margin-top: 0px;
}

.resume-item-contemt,
.resume-item-institute {
    color: #757575;


}
.resume-container hr{
    margin: 15px;
}